<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/static/css/adminNewsList.css}">
    <script src="/static/js/jquery.js"></script>
</head>
<body>
<div class="wrap">
    <div class="list">
        <div class="clearfix">
            <div class="left pageTotal">共有<em></em>条新闻</div>
            <div class="nav-search">
                <input type="text" placeholder="搜索标题内容">
                <a href="javascript:void 0" onclick="toSearch()" class="iconfont iconsousuo"></a>
            </div>
        </div>
        <div class="top">
            <div class="title left">
                <span>标题</span>
            </div>
            <div class="author left">
                <span>作者</span>
            </div>
            <div class="tag left">
                <span>标签</span>
            </div>
            <div class="time left">
                <span>创建时间</span>
                <i class="iconfont iconjiantou"></i>
                <!--                <i class="iconfont iconxiajiantou"></i>-->
            </div>
            <div class="operate right">
                <span>操作</span>
            </div>
        </div>
        <ul class="item-list">
            <!--            <li class="item clearfix">-->
            <!--                <div class="title left">-->
            <!--                    <span>思科CEO告诉员工不用担心丢工作，并敦促其他公司也不要裁员</span>-->
            <!--                </div>-->
            <!--                <div class="author left">-->
            <!--                    <span>芜湖大司马</span>-->
            <!--                </div>-->
            <!--                <div class="tag left">-->
            <!--                    <span>校园活动</span>-->
            <!--                </div>-->
            <!--                <div class="time left">-->
            <!--                    <span>2020.04.09 12:34:23</span>-->
            <!--                </div>-->
            <!--                <div class="operate right">-->
            <!--                    <button class="btn">编辑</button>-->
            <!--                    <button class="btn">删除</button>-->
            <!--                </div>-->
            <!--            </li>-->
            <!--            <li class="item clearfix">-->
            <!--                <div class="title left">-->
            <!--                    <span>思科CEO告诉员工不用担心丢工作，并敦促其他公司也不要裁员</span>-->
            <!--                </div>-->
            <!--                <div class="author left">-->
            <!--                    <span>芜湖大司马</span>-->
            <!--                </div>-->
            <!--                <div class="tag left">-->
            <!--                    <span>要闻</span>-->
            <!--                </div>-->
            <!--                <div class="time left">-->
            <!--                    <span>2020.04.09 12:34:23</span>-->
            <!--                </div>-->
            <!--                <div class="operate right">-->
            <!--                    <button class="btn">编辑</button>-->
            <!--                    <button class="btn">删除</button>-->
            <!--                </div>-->
            <!--            </li>-->
            <!--            <li class="item clearfix">-->
            <!--                <div class="title left">-->
            <!--                    <span>思科CEO告诉员工不用担心丢工作，并敦促其他公司也不要裁员</span>-->
            <!--                </div>-->
            <!--                <div class="author left">-->
            <!--                    <span>芜湖大司马</span>-->
            <!--                </div>-->
            <!--                <div class="tag left">-->
            <!--                    <span>要闻</span>-->
            <!--                </div>-->
            <!--                <div class="time left">-->
            <!--                    <span>2020.04.09 12:34:23</span>-->
            <!--                </div>-->
            <!--                <div class="operate right">-->
            <!--                    <button class="btn">编辑</button>-->
            <!--                    <button class="btn">删除</button>-->
            <!--                </div>-->
            <!--            </li>-->
            <!--            <li class="item clearfix">-->
            <!--                <div class="title left">-->
            <!--                    <span>思科CEO告诉员工不用担心丢工作，并敦促其他公司也不要裁员</span>-->
            <!--                </div>-->
            <!--                <div class="author left">-->
            <!--                    <span>芜湖大司马</span>-->
            <!--                </div>-->
            <!--                <div class="tag left">-->
            <!--                    <span>要闻</span>-->
            <!--                </div>-->
            <!--                <div class="time left">-->
            <!--                    <span>2020.04.09 12:34:23</span>-->
            <!--                </div>-->
            <!--                <div class="operate right">-->
            <!--                    <button class="btn">编辑</button>-->
            <!--                    <button class="btn">删除</button>-->
            <!--                </div>-->
            <!--            </li>-->
            <!--            <li class="item clearfix">-->
            <!--                <div class="title left">-->
            <!--                    <span>思科CEO告诉员工不用担心丢工作，并敦促其他公司也不要裁员</span>-->
            <!--                </div>-->
            <!--                <div class="author left">-->
            <!--                    <span>芜湖大司马</span>-->
            <!--                </div>-->
            <!--                <div class="tag left">-->
            <!--                    <span>要闻</span>-->
            <!--                </div>-->
            <!--                <div class="time left">-->
            <!--                    <span>2020.04.09 12:34:23</span>-->
            <!--                </div>-->
            <!--                <div class="operate right">-->
            <!--                    <button class="btn">编辑</button>-->
            <!--                    <button class="btn">删除</button>-->
            <!--                </div>-->
            <!--            </li>-->
            <!--            <li class="item clearfix">-->
            <!--                <div class="title left">-->
            <!--                    <span>思科CEO告诉员工不用担心丢工作，并敦促其他公司也不要裁员</span>-->
            <!--                </div>-->
            <!--                <div class="author left">-->
            <!--                    <span>芜湖大司马</span>-->
            <!--                </div>-->
            <!--                <div class="tag left">-->
            <!--                    <span>要闻</span>-->
            <!--                </div>-->
            <!--                <div class="time left">-->
            <!--                    <span>2020.04.09 12:34:23</span>-->
            <!--                </div>-->
            <!--                <div class="operate right">-->
            <!--                    <button class="btn">编辑</button>-->
            <!--                    <button class="btn">删除</button>-->
            <!--                </div>-->
            <!--            </li>-->
            <!--            <li class="item clearfix">-->
            <!--                <div class="title left">-->
            <!--                    <span>思科CEO告诉员工不用担心丢工作，并敦促其他公司也不要裁员</span>-->
            <!--                </div>-->
            <!--                <div class="author left">-->
            <!--                    <span>芜湖大司马</span>-->
            <!--                </div>-->
            <!--                <div class="tag left">-->
            <!--                    <span>要闻</span>-->
            <!--                </div>-->
            <!--                <div class="time left">-->
            <!--                    <span>2020.04.09 12:34:23</span>-->
            <!--                </div>-->
            <!--                <div class="operate right">-->
            <!--                    <button class="btn">编辑</button>-->
            <!--                    <button class="btn">删除</button>-->
            <!--                </div>-->
            <!--            </li>-->
            <!--            <li class="item clearfix">-->
            <!--                <div class="title left">-->
            <!--                    <span>思科CEO告诉员工不用担心丢工作，并敦促其他公司也不要裁员</span>-->
            <!--                </div>-->
            <!--                <div class="author left">-->
            <!--                    <span>芜湖大司马</span>-->
            <!--                </div>-->
            <!--                <div class="tag left">-->
            <!--                    <span>要闻</span>-->
            <!--                </div>-->
            <!--                <div class="time left">-->
            <!--                    <span>2020.04.09 12:34:23</span>-->
            <!--                </div>-->
            <!--                <div class="operate right">-->
            <!--                    <button class="btn">编辑</button>-->
            <!--                    <button class="btn">删除</button>-->
            <!--                </div>-->
            <!--            </li>-->
            <!--            <li class="item clearfix">-->
            <!--                <div class="title left">-->
            <!--                    <span>思科CEO告诉员工不用担心丢工作，并敦促其他公司也不要裁员</span>-->
            <!--                </div>-->
            <!--                <div class="author left">-->
            <!--                    <span>芜湖大司马</span>-->
            <!--                </div>-->
            <!--                <div class="tag left">-->
            <!--                    <span>要闻</span>-->
            <!--                </div>-->
            <!--                <div class="time left">-->
            <!--                    <span>2020.04.09 12:34:23</span>-->
            <!--                </div>-->
            <!--                <div class="operate right">-->
            <!--                    <button class="btn">编辑</button>-->
            <!--                    <button class="btn">删除</button>-->
            <!--                </div>-->
            <!--            </li>-->
            <!--            <li class="item clearfix">-->
            <!--                <div class="title left">-->
            <!--                    <span>思科CEO告诉员工不用担心丢工作，并敦促其他公司也不要裁员促其他公司也不要裁员</span>-->
            <!--                </div>-->
            <!--                <div class="author left">-->
            <!--                    <span>芜湖大司马</span>-->
            <!--                </div>-->
            <!--                <div class="tag left">-->
            <!--                    <span>要闻</span>-->
            <!--                </div>-->
            <!--                <div class="time left">-->
            <!--                    <span>2020.04.09 12:34:23</span>-->
            <!--                </div>-->
            <!--                <div class="operate right">-->
            <!--                    <button class="btn">编辑</button>-->
            <!--                    <button class="del btn">删除</button>-->
            <!--                </div>-->
            <!--            </li>-->
        </ul>
        <div class="bottom-page clearfix">
            <div class="first-page">顶页</div>
            <div class="prev">上一页</div>
            <div class="next">下一页</div>
            <div class="last-page">末页</div>
            <div class="pageNum">第<em></em>页</div>
            <div class="page-jump">
                共<span></span>页，跳至<input type="text">页
            </div>
        </div>
    </div>
</div>

<script src="/static/js/format.js"></script>
<script src="/static/js/jumpMsg.js"></script>
<script>

    let pageNum = 1;
    let pageSize = 10;
    let pageTotal = 0;
    let total = 0;
    let descOrAsc = 'desc';//默认
    let search = 'n';


    function timeClick() {
        $('.top .time').unbind('click');
        $('.top .time').click(function () {
            let $tip = $(this).find('i');
            if ($tip.hasClass('iconjiantou')) {
                $tip.removeClass('iconjiantou');
                $tip.addClass('iconxiajiantou');
                descOrAsc = 'asc';
                pageNum = 1;
                getNewsDescOrAsc((pageNum - 1) * pageSize, pageSize);
            } else if ($tip.hasClass('iconxiajiantou')) {
                $tip.removeClass('iconxiajiantou');
                $tip.addClass('iconjiantou');
                descOrAsc = 'desc';
                pageNum = 1;
                getNewsDescOrAsc((pageNum - 1) * pageSize, pageSize);
            }
        });
    }
    timeClick();

    function getNewsDescOrAsc(offset, size) {
        if (descOrAsc === 'desc') {
            $.ajax({
                url: '/admin/getNewsByCtimeDesc',
                data: {
                    offset,
                    size
                },
                type: 'get',
                dataType: 'json'
            }).then(data => {
                appendEle(data);
                del();
            })
        } else if (descOrAsc === 'asc') {
            $.ajax({
                url: '/admin/getNewsByCtimeAsc',
                data: {
                    offset,
                    size
                },
                type: 'get',
                dataType: 'json'
            }).then(data => {
                appendEle(data);
                del();
            })
        }
    }

    function appendEle(data) {
        let tagsList = data.data;
        let newsList = JSON.parse(tagsList).newsList;
        let tagMap = JSON.parse(tagsList).map;
        $('.item-list').find('li').remove();
        $('.pageNum em').text(pageNum);
        for (let i = 0; i < newsList.length; i++) {
            $('.item-list').append($('<li class="item clearfix">' +
                '<div class="title left">' +
                '<span>' + newsList[i].title + '</span>' +
                '</div>' +
                '<div class="author left">' +
                '<span>' + newsList[i].author + '</span></div>' +
                '<div class="tag left">' +
                '<span>' + tagMap["result" + i] + '</span></div>' +
                '<div class="time left">' +
                '<span>' + timestampToTime(newsList[i].ctime) + '</span></div>' +
                '<div class="operate right">' +
                '<a href="/admin/toUpdateNews?id=' + newsList[i].id + '"><button class="update-btn">编辑</button></a>' +
                '<button class="del" data-id="' + newsList[i].id + '">删除</button>' +
                '</div></li>'))
        }
    }

    function del() {
        $('.del').click(function () {
            let id = $(this).data('id');
            $.ajax({
                url: '/admin/deleteNews',
                data: {
                    id
                },
                type: 'get',
                dataType: 'json',
            }).then(data => {
                if (data.status === 'OK') {
                    jumpBlock("删除成功");
                    $(this).closest('.item').remove();
                }
            })
        })
    }

    function getNewsCount() {
        $.ajax({
            url: '/admin/getAllNewsCount',
            type: 'get',
            dataType: 'json',
            success(data) {
                total = data;
                $('.pageTotal em').text(total);
                pageNum = 1;
                pageTotal = Math.ceil(total / pageSize);
                $('.page-jump').find('span').text(pageTotal);
                getNewsDescOrAsc((pageNum - 1) * pageSize, pageSize);
                delLastPage();
                if(pageTotal === 1) {
                    setLastPage();
                }
                setFirstPage();
            }
        });
    }
    getNewsCount();

    function setFirstPage() {
        $('.first-page').addClass('disabled');
        $('.prev').addClass('disabled');
    }

    function delFirstPage() {
        $('.first-page').removeClass('disabled');
        $('.prev').removeClass('disabled');
    }

    function setLastPage() {
        $('.last-page').addClass('disabled');
        $('.next').addClass('disabled');
    }

    function delLastPage() {
        $('.last-page').removeClass('disabled');
        $('.next').removeClass('disabled');
    }

    $('.first-page').click(function () {
        pageNum = 1;
        if(search === 'n') {
            getNewsDescOrAsc((pageNum - 1) * pageSize, pageSize);
        }else if(search === 'y') {
            nextSearch((pageNum - 1) * pageSize, pageSize);
        }
        setFirstPage();
        delLastPage();
    });

    $('.last-page').click(function () {
        pageNum = pageTotal;
        if(search === 'n') {
            getNewsDescOrAsc((pageNum - 1) * pageSize, pageSize);
        }else if(search === 'y') {
            nextSearch((pageNum - 1) * pageSize, pageSize);
        }
        setLastPage();
        delFirstPage();
    });

    $('.next').click(function () {
        next();
    });

    $('.prev').click(function () {
        prev();
    });

    $('.page-jump input').keypress((e) => {
        if (e.keyCode === 13) {
            jumpPage();
        }
    });

    function jumpPage() {
        let val = +$('.page-jump input').val();
        if (val > pageTotal) {
            pageNum = pageTotal;
        } else if (val <= 0) {
            pageNum = 1;
        } else if (isNaN(val)) {
            pageNum = 1;
        } else {
            pageNum = val;
        }
        if(search === 'n') {
            getNewsDescOrAsc((pageNum - 1) * pageSize, pageSize);
        }else if(search === 'y') {
            nextSearch((pageNum - 1) * pageSize, pageSize);
        }
        if(pageNum === 1) {
            setFirstPage();
            delLastPage();
        }else if(pageNum === pageTotal) {
            setLastPage();
            delFirstPage();
        }
    }

    function prev() {
        if (pageNum === pageTotal) {
            delLastPage();
        }
        pageNum--;
        if(search === 'n') {
            getNewsDescOrAsc((pageNum - 1) * pageSize, pageSize);
        }else if(search === 'y') {
            nextSearch((pageNum - 1) * pageSize, pageSize);
        }
        if (pageNum <= 1) {
            setFirstPage();
        }
    }

    function next() {
        if (pageNum === 1) {
            delFirstPage();
        }
        pageNum++;
        if(search === 'n') {
            getNewsDescOrAsc((pageNum - 1) * pageSize, pageSize);
        }else if(search === 'y') {
            nextSearch((pageNum - 1) * pageSize, pageSize);
        }
        if (pageNum * pageSize >= total) {
            setLastPage();
        }
    }

    $('.nav-search input').keypress((e) => {
        if (e.keyCode === 13) {
            toSearch();
        }
    });

    let count = 0;

    function toSearch() {
        let keyword = $('.nav-search input').val();
        if(keyword === '') {
            search = 'n';
            getNewsCount();
            timeClick();
            return;
        }else {
            search = 'y';
            $('.top .time').unbind('click')
        }
        $.ajax({
            url: '/user/getBlurNameCount',
            data: {
                keyword,
            },
            type: 'get',
            dataType: 'json',
            success(data) {
                count = data;
                pageNum = 1;
                pageTotal = Math.ceil(count / pageSize);
                $('.page-jump').find('span').text(pageTotal);
                nextSearch((pageNum - 1) * pageSize, pageSize);
                if(pageTotal === 1) {
                    setLastPage();
                }
                setFirstPage();
            }
        });
    }

    function nextSearch(offset, size) {
        let keyword = $('.nav-search input').val();
        $.ajax({
            url: '/admin/search',
            data: {
                keyword,
                offset,
                size
            },
            type: 'get',
            dataType: 'json',
        }).then(data => {
            if (data.status === 'OK') {
                appendEle(data);
                del();
            }
        })
    }



</script>

</body>
</html>