<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/static/css/detail.css}">
    <script src="/static/js/jquery.js"></script>
</head>
<body>

<!-- 头部 -->
<div id="TopNav">
    <div class="header">
        <div class="nav-wrap clearfix" style="position: relative;">
            <a href="#" class="nav-logo left">
<!--                <h2 style="font-weight: bold; font-size: 20px">城院新闻网</h2>-->
<!--                <img src="/static/img/logo1.png" alt="">-->
                <img src="/static/img/jyxw_01.jpg" alt="校园新闻网">
            </a>
            <div class="qq-nav left">
                <ul class="nav-list">
                    <li th:each="tags,tagsStat:${tagsList}" th:if="${tagsStat.index < 6}">
                        <a th:href="@{/user/toNewsList}" th:text="${tags.tag}" th:if="${tagsStat.first}"></a>
                        <a th:href="@{/user/toNewsTagsList(tagsId=${tags.id})}" th:text="${tags.tag}" th:unless="${tagsStat.first}"></a>
                    </li>
<!--                    <li>-->
<!--                        <a href="">娱乐</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="">财经</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="">体育</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="">图片</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="">时尚</a>-->
<!--                    </li>-->
                    <li class="nav-more">
                        <a href="" class="more-icon">
                            <i class="box box-t"></i>
                            <i class="box box-b"></i>
                        </a>
                        <ul class="sub-nav">
                            <li th:each="tags,tagsStat:${tagsList}" th:if="${tagsStat.index >= 6}">
                                <a th:href="@{/user/toNewsTagsList(tagsId=${tags.id})}" th:text="${tags.tag}"></a>
                            </li>
<!--                            <li><a href="">军事</a></li>-->
<!--                            <li><a href="">军事</a></li>-->
<!--                            <li><a href="">军事</a></li>-->
<!--                            <li><a href="">军事</a></li>-->
<!--                            <li><a href="">军事</a></li>-->
<!--                            <li><a href="">军事</a></li>-->
<!--                            <li><a href="">军事</a></li>-->
<!--                            <li><a href="">军事</a></li>-->
<!--                            <li><a href="">军事</a></li>-->
<!--                            <li><a href="">军事</a></li>-->
<!--                            <li><a href="">军事</a></li>-->
<!--                            <li><a href="">军事</a></li>-->
<!--                            <li><a href="">军事</a></li>-->
<!--                            <li><a href="">军事</a></li>-->
<!--                            <li><a href="">军事</a></li>-->
<!--                            <li><a href="">军事</a></li>-->
<!--                            <li><a href="">军事</a></li>-->
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="login-wrap hidden">
                <div class="login clearfix">
                    <div class="quick-area">
                        <a href="/user/toMy?type=favor" class="quickLink">
                            <em class="iconfont iconshoucang"></em>
                            <div>收藏</div>
                        </a>
                    </div>
                    <div class="quick-area">
                        <a href="/user/toMy?type=comment" class="quickLink">
                            <em class="iconfont iconreview"></em>
                            <div>评论</div>
                        </a>
                    </div>
                    <div class="quick-area">
                        <a href="/user/toMy?type=reply" class="quickLink">
                            <em class="iconfont iconicon-xiaoxi"></em>
                            <div>消息</div>
                        </a>
                    </div>
                    <div class="login-area quick-area">
                        <a href="/user/toMy?type=favor">
                            <img src="" class="Face">
                        </a>
                        <div class="infoPop">
                            <div class="nick"></div>
                            <div class="line"></div>
                            <a href="javascript:void 0" class="loginout" onclick="loginOut()"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-wrap">
                <div class="login clearfix">
                    <div class="login-area quick-area">
                        <div>
                            <a href="/user/toLogin" class="loginBtn">
                                <em>一键登录</em>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-search">
                <input type="text" name="keyword">
                <a href="javascript:void 0" onclick="toSearch()" class="iconfont iconsousuo"></a>
            </div>
        </div>
    </div>
</div>
<!-- 内容 -->
<div class="news-content clearfix">
    <div class="LEFT">
        <h1 class="title" th:text="${news.title}"></h1>
        <div class="content clearfix">
        </div>
        <div id="comment-wrap">
            <div class="comment-content clearfix">
                <div class="k-comment">
                    <div class="header-comment">
                        <h1 class="header-title">网友评论</h1>
                        <p class="header-protocol">
                            文明上网理性发言，请遵守
                            <a href="javascript:void 0">新闻评论服务协议</a>
                        </p>
                        <a href="javascript:void 0" class="header-number">
                            <i></i>条评论
                        </a>
                    </div>
                    <div class="box hidden">
                        <div class="common-avatar">
                            <img src="" alt="">
                        </div>
                        <div class="box-content box-login">
                            <div class="box-textarea-block">
                                <textarea class="box-textarea box-textarea-comment" placeholder="说两句吧..."></textarea>
                            </div>
<!--                            <ul class="box-images">-->
<!--                                <li class="box-images-add">-->
<!--                                    +-->
<!--                                    <form action="" class="box-upload-form"></form>-->
<!--                                </li>-->
<!--                            </ul>-->
                            <div class="box-info">
                                <div class="box-operate">
                                    <span class="box-avatar"></span>
                                    <b class="box-username">kAmIsaMa</b>
                                    <span class="box-tab" onclick="toLogin()">切换用户</span>
                                    <span class="box-operate-line">|</span>
<!--                                    <div class="box-upload">-->
<!--                                        <span class="box-upload-icon"></span>-->
<!--                                        <form action="" class="box-upload-form"></form>-->
<!--                                    </div>-->
                                </div>
                                <div class="box-commentBtn">发布评论</div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="common-avatar"></div>
                        <div class="box-content box-logout">
                            <div class="box-textarea-block">
                                <textarea class="box-textarea" placeholder="说两句吧..."></textarea>
                            </div>
                            <span class="box-btn">登录</span>
                        </div>
                    </div>
                    <div class="comment-short">
                        <!--                        <div class="comment-title">-->
                        <!--                            <p class="comment-all">全部评论</p>-->
                        <!--                            <div class="comment-center">-->
                        <!--                                <span class="comment-center-slash">/</span>-->
                        <!--                                <span class="comment-my">我的评论</span>-->
                        <!--                            </div>-->
                        <!--                            <p class="comment-sort">-->
                        <!--                                <span class="latest">最新</span> / <span class="hot">最热</span>-->
                        <!--                            </p>-->
                        <!--                        </div>-->
                        <!--                        <div class="s-comment">-->
                        <!--                            <div class="comment">-->
                        <!--                                <div class="common-avatar">-->
                        <!--                                    <img src="/static/img/g.jpg" alt="">-->
                        <!--                                </div>-->
                        <!--                                <div class="comment-block">-->
                        <!--                                    <p class="comment-user">-->
                        <!--                                        <span class="comment-username"> 腾讯网友 </span>-->
                        <!--                                        <span class="comment-time">6小时前</span>-->
                        <!--                                    </p>-->
                        <!--                                    <div class="comment-msg">-->
                        <!--                                        祖国一定要把握好关口啊！回来可以，不管有没有问题一定要先隔离，不能在出一个郭某某了！那些无良的人明知道自己感染吃退烧药假装没感染回来害人！-->
                        <!--                                    </div>-->
                        <!--                                    <div class="reply">-->
                        <!--                                        <div class="reply-block">-->
                        <!--                                            <div class="reply-content">-->
                        <!--                                                <span class="reply-user">-->
                        <!--                                                    <b class="reply-user-nick">A-&#45;&#45;少华</b> :-->
                        <!--                                                </span>-->
                        <!--                                                你说的郭伟鹏跟吃退烧药的不是一伙人，郭伟鹏是回到家一两天才发烧的，有美籍华人一家三口吃双倍退烧药回来的，关键看病还不想掏钱，一家美国人还说自己是土生土长的中国人，在他放弃中国国籍的时候就已经是个客人了-->
                        <!--                                            </div>-->
                        <!--                                            <div class="reply-operate reply-operate-hot">-->
                        <!--                                                <span class="reply-up reply-operate-item">赞<i>1152</i></span>-->
                        <!--                                                <i class="reply-dot">·</i>-->
                        <!--                                                <span class="reply-operate-item reply-inner">回复</span>-->
                        <!--                                                <i class="reply-dot">·</i>-->
                        <!--                                                <span>2小时前</span>-->
                        <!--                                            </div>-->
                        <!--                                        </div>-->
                        <!--                                        <div class="reply-block">-->
                        <!--                                            <div class="reply-content">-->
                        <!--                                                <span class="reply-user">-->
                        <!--                                                    <b class="reply-user-nick">A-&#45;&#45;少华</b> :-->
                        <!--                                                </span>-->
                        <!--                                                留学的可以回来，近年移民的就不要回来，拿着人民币去移民给国外打税，觉得国外什么都好过中国才移民，你有钱是你的想去哪是你的事，有难了想起了中国好要回来不可以-->
                        <!--                                            </div>-->
                        <!--                                            <div class="reply-operate reply-operate-hot">-->
                        <!--                                                <span class="reply-up reply-operate-item">赞<i>1152</i></span>-->
                        <!--                                                <i class="reply-dot">·</i>-->
                        <!--                                                <span class="reply-operate-item reply-inner">回复</span>-->
                        <!--                                                <i class="reply-dot">·</i>-->
                        <!--                                                <span>2小时前</span>-->
                        <!--                                            </div>-->
                        <!--                                        </div>-->
                        <!--                                        <div class="reply-more"></div>-->
                        <!--                                        <span class="reply-allBtn"> 查看全部141条回复 </span>-->
                        <!--                                    </div>-->
                        <!--                                    <div class="comment-operate clearfix">-->
                        <!--                                        <span class="comment-operate-item comment-operate-up">赞<i>1722</i></span>-->
                        <!--                                        <span class="comment-operate-item comment-operate-reply">回复</span>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                                <div class="comment-report">举报</div>-->
                        <!--                            </div>-->
                        <!--                            <div class="comment">-->
                        <!--                                <div class="common-avatar">-->
                        <!--                                    <img src="/static/img/g.jpg" alt="">-->
                        <!--                                </div>-->
                        <!--                                <div class="comment-block">-->
                        <!--                                    <p class="comment-user">-->
                        <!--                                        <span class="comment-username"> 腾讯网友 </span>-->
                        <!--                                        <span class="comment-time">6小时前</span>-->
                        <!--                                    </p>-->
                        <!--                                    <div class="comment-msg">-->
                        <!--                                        祖国一定要把握好关口啊！回来可以，不管有没有问题一定要先隔离，不能在出一个郭某某了！那些无良的人明知道自己感染吃退烧药假装没感染回来害人！-->
                        <!--                                    </div>-->
                        <!--                                    <div class="reply">-->
                        <!--                                        <div class="reply-block">-->
                        <!--                                            <div class="reply-content">-->
                        <!--                                                                            <span class="reply-user">-->
                        <!--                                                                                <b class="reply-user-nick">A-&#45;&#45;少华</b> :-->
                        <!--                                                                            </span>-->
                        <!--                                                你说的郭伟鹏跟吃退烧药的不是一伙人，郭伟鹏是回到家一两天才发烧的，有美籍华人一家三口吃双倍退烧药回来的，关键看病还不想掏钱，一家美国人还说自己是土生土长的中国人，在他放弃中国国籍的时候就已经是个客人了-->
                        <!--                                            </div>-->
                        <!--                                            <div class="reply-operate reply-operate-hot">-->
                        <!--                                                <span class="reply-up reply-operate-item">赞<i>1152</i></span>-->
                        <!--                                                <i class="reply-dot">·</i>-->
                        <!--                                                <span class="reply-operate-item reply-inner">回复</span>-->
                        <!--                                                <i class="reply-dot">·</i>-->
                        <!--                                                <span>2小时前</span>-->
                        <!--                                            </div>-->
                        <!--                                        </div>-->
                        <!--                                        <div class="reply-block">-->
                        <!--                                            <div class="reply-content">-->
                        <!--                                                                            <span class="reply-user">-->
                        <!--                                                                                <b class="reply-user-nick">A-&#45;&#45;少华</b> :-->
                        <!--                                                                            </span>-->
                        <!--                                                留学的可以回来，近年移民的就不要回来，拿着人民币去移民给国外打税，觉得国外什么都好过中国才移民，你有钱是你的想去哪是你的事，有难了想起了中国好要回来不可以-->
                        <!--                                            </div>-->
                        <!--                                            <div class="reply-operate reply-operate-hot">-->
                        <!--                                                <span class="reply-up reply-operate-item">赞<i>1152</i></span>-->
                        <!--                                                <i class="reply-dot">·</i>-->
                        <!--                                                <span class="reply-operate-item reply-inner">回复</span>-->
                        <!--                                                <i class="reply-dot">·</i>-->
                        <!--                                                <span>2小时前</span>-->
                        <!--                                            </div>-->
                        <!--                                        </div>-->
                        <!--                                        <div class="reply-more"></div>-->
                        <!--                                        <span class="reply-allBtn"> 查看全部141条回复 </span>-->
                        <!--                                    </div>-->
                        <!--                                    <div class="comment-operate clearfix">-->
                        <!--                                        <span class="comment-operate-item comment-operate-up">赞<i>1722</i></span>-->
                        <!--                                        <span class="comment-operate-item comment-operate-reply">回复</span>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                                <div class="comment-report">举报</div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                        <div class="comment-moreBtn">查看更多评论</div>-->
                    </div>
                    <p class="comment-none">暂无评论哦，快来评论一下吧！</p>
                </div>
            </div>
        </div>
        <div id="Recommend">
            <div class="recommend">
                <div class="recommend-con">
                    <div class="recommend-title">
                        为你推荐
                    </div>
                    <ul class="recommend-list">
<!--                        <li class="clearfix">-->
<!--                            <div class="picture">-->
<!--                                <a href="">-->
<!--                                    <img src="/static/img/2.webp" alt="我市提高公办普通高中、公办幼儿园生均公用经费标准">-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            <div class="detail">-->
<!--                                <h3>-->
<!--                                    <a href="">我市提高公办普通高中、公办幼儿园生均公用经费标准</a>-->
<!--                                </h3>-->
<!--                                <div class="info">-->
<!--                                    <a href="">鲤鱼非汗水</a> &nbsp;<span>2小时前</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="clearfix">-->
<!--                            <div class="picture">-->
<!--                                <a href="">-->
<!--                                    <img src="/static/img/2.webp" alt="我市提高公办普通高中、公办幼儿园生均公用经费标准">-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            <div class="detail">-->
<!--                                <h3>-->
<!--                                    <a href="">我市提高公办普通高中、公办幼儿园生均公用经费标准</a>-->
<!--                                </h3>-->
<!--                                <div class="info">-->
<!--                                    <a href="">鲤鱼非汗水</a> &nbsp;<span>2小时前</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="clearfix">-->
<!--                            <div class="picture">-->
<!--                                <a href="">-->
<!--                                    <img src="/static/img/2.webp" alt="我市提高公办普通高中、公办幼儿园生均公用经费标准">-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            <div class="detail">-->
<!--                                <h3>-->
<!--                                    <a href="">我市提高公办普通高中、公办幼儿园生均公用经费标准</a>-->
<!--                                </h3>-->
<!--                                <div class="info">-->
<!--                                    <a href="">鲤鱼非汗水</a> &nbsp;<span>2小时前</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->
                    </ul>
                    <div>
                        <div class="more">loading...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="RIGHT">
        <div class="right-bar">
            <div>
                <div class="cms-bar">
                    <div class="bar-tit clearfix">
                        <h2 class="left">相关推荐</h2>
                        <a href="javascript:void 0" class="right change-btn" onclick="relation()">
                            <i class="iconfont iconshuaxin"></i>
                            换一换
                        </a>
                    </div>
                    <div class="bar-con">
<!--                        <div class="item">-->
<!--                            <div class="pic">-->
<!--                                <a href="">-->
<!--                                    <img src="/static/img/dog.webp" alt="">-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            <div class="txt">-->
<!--                                <a href="">遇到这3种狗，“跑”是大忌，尤其遇到最后一种狗，一定要低头溜走</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item">-->
<!--                            <div class="pic">-->
<!--                                <a href="">-->
<!--                                    <img src="/static/img/dog.webp" alt="">-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            <div class="txt">-->
<!--                                <a href="">遇到这3种狗，“跑”是大忌，尤其遇到最后一种狗，一定要低头溜走</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item">-->
<!--                            <div class="pic">-->
<!--                                <a href="">-->
<!--                                    <img src="/static/img/dog.webp" alt="">-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            <div class="txt">-->
<!--                                <a href="">遇到这3种狗，“跑”是大忌，尤其遇到最后一种狗，一定要低头溜走</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item">-->
<!--                            <div class="pic">-->
<!--                                <a href="">-->
<!--                                    <img src="/static/img/dog.webp" alt="">-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            <div class="txt">-->
<!--                                <a href="">遇到这3种狗，“跑”是大忌，尤其遇到最后一种狗，一定要低头溜走</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item">-->
<!--                            <div class="pic">-->
<!--                                <a href="">-->
<!--                                    <img src="/static/img/dog.webp" alt="">-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            <div class="txt">-->
<!--                                <a href="">遇到这3种狗，“跑”是大忌，尤其遇到最后一种狗，一定要低头溜走</a>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/format.js"></script>
<script src="/static/js/detailCookie.js"></script>
<script type="text/javascript" th:inline="javascript">
    //文章展示
    let news = null;
    (function () {
        news = [[${newsJson}]];
        news = JSON.parse(news);
        let contentMsg = news.content;
        let $content = $('.content');
        $content.html(contentMsg);
        $content.find('p').addClass('one-p');
        if(news.contentUrl != null) {
            let contentUrl = JSON.parse(news.contentUrl);
            $content.find('img').each(function (index, ele) {
                $(ele).attr('src', "/user/getPic?path=" + contentUrl[index].realFileName);
            });
        }
        $content.append($('<div class="status"><div class="statement"></div></div>'));
        $content.append($('<div class="article-tag clearfix"><div class="right"><div class="thumb"><i class="iconfont icondianzan"></i><span>点赞</span></div><div class="repin"><i class="iconfont iconshoucang"></i><span>收藏</span></div></div></div>'))
    })();

    //评论区
    let commentCount = null;
    let type = "hot";//定义查询类型
    function setComment() {
        let newsId = news.id;
        $.ajax({
            url: '/user/getCommentCount',
            data: {
                newsId,
            },
            type: 'get',
            dataType: 'json'
        }).then((data) => {
            $('.header-number i').text(data);
            commentCount = data;
            if (data > 0) {
                let offset = 0;
                let size = 1;
                let newsId = news.id;
                return $.ajax({
                    url: '/user/findOneComment',
                    data: {
                        newsId,
                        offset,
                        size,
                        type
                    },
                    type: 'get',
                    dataType: 'json'
                })
            }else {
                bindEvent();
            }
        }).then((data) => {
            if (data.status == "OK") {
                $('.comment-none').remove();
                let result = JSON.parse(data.data);
                let comment = result.comment;
                let user = result.user;
                $('.comment-short').append($('<div class="comment-title">' +
                    '<p class="comment-all">全部评论</p>' +
                    '<div class="comment-center">' +
                    '<span class="comment-center-slash">/</span>' +
                    '<span class="comment-my">我的评论</span>' +
                    '</div>' +
                    '<p class="comment-sort">' +
                    '<span class="latest">最新</span> / <span class="hot comment-sort-cur">最热</span>' +
                    '</p>' +
                    '</div>' +
                    '<div class="s-comment">' +
                    '<div class="comment" data-id="' + comment.id + '">' +
                    '<div class="common-avatar">' +
                    '<img src="/user/getPic?path=' + JSON.parse(user.picUrl).realFileName + '" alt="">' +
                    '</div>' +
                    '<div class="comment-block">' +
                    '<p class="comment-user">' +
                    '<span class="comment-username"> ' + user.account + ' </span>' +
                    '<span class="comment-time">' + timestampToTime2(comment.ctime) + '</span>' +
                    '</p>' +
                    '<div class="comment-msg">' +
                    '' + comment.content + '' +
                    '</div>' +
                    '<div class="comment-operate clearfix">' +
                    '<span class="comment-operate-item comment-operate-up">赞<i>' + (comment.thumbs === 0 ? '' : comment.thumbs) + '</i></span>' +
                    '<span class="comment-operate-item comment-operate-reply">回复</span>' +
                    '</div>' +
                    '</div>' +
                    '<div class="comment-report">举报</div>' +
                    '</div>' +
                    '</div>' +
                    '<div class="comment-moreBtn">查看更多评论</div>'));
                if (commentCount === 1) {
                    $('.comment-moreBtn').removeClass('comment-moreBtn').addClass('comment-noMore').text('没有更多评论了');
                }
                if(type === 'hot') {
                    if(!$('.hot').hasClass('comment-sort-cur')) {
                        $('.hot').addClass('comment-sort-cur');
                        $('.latest').removeClass('comment-sort-cur');
                    }
                }else {
                    if(!$('.latest').hasClass('comment-sort-cur')) {
                        $('.latest').addClass('comment-sort-cur')
                        $('.hot').removeClass('comment-sort-cur');
                    }
                }
                setHotClick();
                myComment();
                findOneComment(comment.id);
                commentUp();
                moreBtn();
                reply2(comment.id);
                bindEvent();
                commentReport();
            }
        })
    }
    setComment();


    function replyBtn() {
        unbindEvent($('.reply-box-btn'));
        $('.reply-box-btn').click(function () {
            let commentId = $(this).closest('.comment').data('id');
            let content = $('.reply-box-textarea').val();
            if(content == '') {
                jumpBlock('请输入回复内容');
                return;
            }
            let $parent = $(this).parent().parent();
            let $parentComment = $parent.closest('.comment');
            if($parentComment.find('.reply')[0] == null) {
                let $ele = $parentComment.find('.comment-msg');
                $ele.after($('<div class="reply"><div class="reply-more"></div></div>'));
            }
            if($parentComment.find('.reply-more-content')[0] == null) {
                if ($parentComment.find('.reply-allBtn')[0] == null) {
                    $parentComment.find('.reply-more').append($('<div class="reply-title">' +
                        '<p class="reply-title-text">更多回复</p>' +
                        '<span class="reply-title-mark"></span>' +
                        '<div class="reply-title-line"><span></span></div>' +
                        '</div>' +
                        '<div class="reply-more-content"><div class="reply-block"></div></div>'));
                }else {
                    $parentComment.find('.reply-allBtn').trigger('click');
                }
            }
            if ($parent.hasClass('comment-block')) {
                $.ajax({
                    url: '/user/addReply',
                    data: {
                        commentId,
                        content
                    },
                    type: 'get',
                    dataType: 'json'
                }).then(data => {
                    if (data.status === 'OK') {
                        return $.ajax({
                            url: '/user/getLatestReply',
                            type: 'get',
                            dataType: 'json',
                        })
                    }
                }).then(data => {
                    let $replyBlock = $parent.find('.reply-more-content').find('.reply-block').eq(0);
                    $replyBlock.before($('<div class="reply-block" data-reply-id="' + data.id + '">' +
                        '<div class="reply-content">' +
                        '<span class="reply-user">' +
                        '<b class="reply-user-nick">' + data.userName + '</b> :' +
                        '</span>' +
                        '' + data.content + '' +
                        '</div>' +
                        '<div class="reply-operate">' +
                        '<span class="reply-up reply-operate-item">赞<i></i></span>' +
                        '<i class="reply-dot">·</i>' +
                        '<span class="reply-operate-item reply-inner">回复</span>' +
                        '<i class="reply-dot">·</i>' +
                        '<span>刚刚</span>' +
                        '<i class="reply-dot reply-operate-report">·</i>' +
                        '<span class="reply-operate-item reply-operate-report">举报</span>' +
                        '</div>' +
                        '</div>'));
                    replyUp();
                    loginOrNot();
                });
            } else if ($parent.hasClass('reply-block')) {
                let repliedName = $parent.find('.reply-user-nick').eq(0).text();
                $.ajax({
                    url: '/user/addReply2Replied',
                    data: {
                        repliedName,
                        commentId,
                        content
                    },
                    type: 'get',
                    dataType: 'json'
                }).then(data => {
                    if (data.status === 'OK') {
                        return $.ajax({
                            url: '/user/getLatestReply',
                            type: 'get',
                            dataType: 'json',
                        })
                    }
                }).then(data => {
                    let $replyBlock = $parent.closest('.reply').find('.reply-more-content').find('.reply-block').eq(0);
                    $replyBlock.before($('<div class="reply-block" data-reply-id="' + data.id + '">' +
                        '<div class="reply-content">' +
                        '<span class="reply-user">' +
                        '<b class="reply-user-nick">' + data.userName + '</b> &nbsp;<i class="reply-reply">回复</i>&nbsp; <b class="reply-user-nick">' + data.repliedName + '</b> :'+
                        '</span>' +
                        '' + data.content + '' +
                        '</div>' +
                        '<div class="reply-operate">' +
                        '<span class="reply-up reply-operate-item">赞<i></i></span>' +
                        '<i class="reply-dot">·</i>' +
                        '<span class="reply-operate-item reply-inner">回复</span>' +
                        '<i class="reply-dot">·</i>' +
                        '<span>刚刚</span>' +
                        '<i class="reply-dot reply-operate-report">·</i>' +
                        '<span class="reply-operate-item reply-operate-report">举报</span>' +
                        '</div>' +
                        '</div>'));
                    replyUp();
                    loginOrNot();
                });
            }
            commentReport();
            removeArea();
        });
    }


    let more = {
        offset: 1,
        size: 10
    };

    function moreBtn() {
        $('.comment-moreBtn').click(function () {
            $(this).text('加载中...');
            next();
        });
    }

    function next() {
        if (more.offset >= commentCount) {
            $('.comment-moreBtn').removeClass('comment-moreBtn').addClass('comment-noMore').text('没有更多评论了').unbind('click');
        } else {
            nextList(more.offset, more.size);
            more.offset += more.size;
            if (more.offset >= commentCount) {
                $('.comment-moreBtn').removeClass('comment-moreBtn').addClass('comment-noMore').text('没有更多评论了').unbind('click');
            }
        }
    }

    function nextList(offset, size) {
        let newsId = news.id;
        $.ajax({
            url: '/user/getMoreComment',
            data: {
                newsId,
                offset,
                size,
                type
            },
            type: 'get',
            dataType: 'json'
        }).then(data => {
            $('.comment-moreBtn').text('查看更多评论');
            let commentList = data.commentList;
            let userList = data.userList;
            let $comment = $('.s-comment');
            for (let i = 0; i < commentList.length; i++) {
                $comment.append($('<div class="comment" data-id="' + commentList[i].id + '">' +
                    '<div class="common-avatar">' +
                    '<img src="/user/getPic?path=' + JSON.parse(userList[i].picUrl).realFileName + '" alt="">' +
                    '</div>' +
                    '<div class="comment-block">' +
                    '<p class="comment-user">' +
                    '<span class="comment-username"> ' + userList[i].account + ' </span>' +
                    '<span class="comment-time">' + timestampToTime2(commentList[i].ctime) + '</span>' +
                    '</p>' +
                    '<div class="comment-msg">' +
                    '' + commentList[i].content + '' +
                    '</div>' +
                    '<div class="comment-operate clearfix">' +
                    '<span class="comment-operate-item comment-operate-up">赞<i>' + (commentList[i].thumbs === 0 ? '' : commentList[i].thumbs) + '</i></span>' +
                    '<span class="comment-operate-item comment-operate-reply">回复</span>' +
                    '</div>' +
                    '</div>' +
                    '<div class="comment-report">举报</div>' +
                    '</div>'));
                findOneComment(commentList[i].id);
                reply2(commentList[i].id);
            }
            commentUp();
            commentReport();
            bindEvent();
        })
    }

    function reply2(commentId) {
        $.ajax({
            url: '/user/find2Reply',
            data: {
                commentId,
                'offset': 0,
                'size': 2
            },
            type: 'get',
            dataType: 'json'
        }).then(data => {
            if (data.length > 0) {
                $.ajax({
                    url: '/user/getReplyCount',
                    data: {
                        commentId
                    },
                    type: 'get',
                    dataType: 'json',
                    success(count) {
                        setReply(data, count);
                    }
                })
            }
        })
    }


    function setReply(data, count) {
        let $comment = $('div[data-id=' + data[0].commentId + ']');
        let $ele = $comment.find('.comment-msg');
        if (count - data.length > 0) {
            $ele.after($('<div class="reply"><div class="reply-more"></div><span class="reply-allBtn"> 查看全部<i>' + count + '</i>条回复 </span></div>'));
        } else {
            $ele.after($('<div class="reply"><div class="reply-more"></div></div>'));
        }
        // let replyBlock = '';
        let $replyMore = $ele.next().find('.reply-more');
        for (let i = 0; i < data.length; i++) {
            $replyMore.before($('<div class="reply-block" data-reply-id="' + data[i].id + '">' +
                '<div class="reply-content">' +
                '<span class="reply-user">' +
                '<b class="reply-user-nick">' + data[i].userName + '</b> :' +
                '</span>' +
                '' + data[i].content + '' +
                '</div>' +
                '<div class="reply-operate reply-operate-hot">' +
                '<span class="reply-up reply-operate-item">赞<i>' + (data[i].thumbs === 0 ? '' : data[i].thumbs) + '</i></span>' +
                '<i class="reply-dot">·</i>' +
                '<span class="reply-operate-item reply-inner">回复</span>' +
                '<i class="reply-dot">·</i>' +
                '<span>' + timestampToTime2(data[i].ctime) + '</span>' +
                '<i class="reply-dot reply-operate-report">·</i>' +
                '<span class="reply-operate-item reply-operate-report">举报</span>' +
                '</div>' +
                '</div>'));
            findOneReply(data[i].id);
        }
        // $ele.next().find('.reply-more').before($(replyBlock));
        replyUp();
        commentReport();
        bindEvent();
    }


    function unbindEvent($ele) {
        $ele.unbind('click');
    }

    function bindEvent() {
        allBtn();
        loginOrNot();
    }


    $('.box-commentBtn').click(function () {
        let content = $('.box-textarea-comment').val();
        if(content == '') {
            jumpBlock('请输入评论内容');
            return;
        }
        $('.box-textarea-comment').val('');
        let newsId = news.id;
        $.ajax({
            url: '/user/addComment',
            data: {
                content,
                newsId
            },
            type: 'get',
            dataType: 'json',
        }).then(data => {
            if (data.status === 'OK') {
                return $.ajax({
                    url: '/user/getLatestComment',
                    type: 'get',
                    dataType: 'json',
                })
            }
        }).then(data => {
            let comment = data.comment;
            let user = data.user;
            let count = $('.header-number i').text();
            if(count == 0) {
                $('.comment-short').append($('<div class="comment-title">' +
                    '<p class="comment-all">全部评论</p>' +
                    '<div class="comment-center">' +
                    '<span class="comment-center-slash">/</span>' +
                    '<span class="comment-my">我的评论</span>' +
                    '</div>' +
                    '<p class="comment-sort">' +
                    '<span class="latest">最新</span> / <span class="hot comment-sort-cur">最热</span>' +
                    '</p>' +
                    '</div>' +
                    '<div class="s-comment">' +
                    '<div class="comment" data-id="' + comment.id + '">' +
                    '<div class="common-avatar">' +
                    '<img src="/user/getPic?path=' + JSON.parse(user.picUrl).realFileName + '" alt="">' +
                    '</div>' +
                    '<div class="comment-block">' +
                    '<p class="comment-user">' +
                    '<span class="comment-username"> ' + user.account + ' </span>' +
                    '<span class="comment-time">刚刚</span>' +
                    '</p>' +
                    '<div class="comment-msg">' +
                    '' + comment.content + '' +
                    '</div>' +
                    '<div class="comment-operate clearfix">' +
                    '<span class="comment-operate-item comment-operate-up">赞<i></i></span>' +
                    '<span class="comment-operate-item comment-operate-reply">回复</span>' +
                    '</div>' +
                    '</div>' +
                    '<div class="comment-report">举报</div>' +
                    '</div></div>'));
                setHotClick();
                myComment();
                $('.header-number i').text(1);
                $('.comment-none').remove();
            }else {
                let $comment = $('.s-comment').find('.comment').eq(0);
                $comment.before($('<div class="comment" data-id="' + comment.id + '">' +
                    '<div class="common-avatar">' +
                    '<img src="/user/getPic?path=' + JSON.parse(user.picUrl).realFileName + '" alt="">' +
                    '</div>' +
                    '<div class="comment-block">' +
                    '<p class="comment-user">' +
                    '<span class="comment-username"> ' + user.account + ' </span>' +
                    '<span class="comment-time">刚刚</span>' +
                    '</p>' +
                    '<div class="comment-msg">' +
                    '' + comment.content + '' +
                    '</div>' +
                    '<div class="comment-operate clearfix">' +
                    '<span class="comment-operate-item comment-operate-up">赞<i></i></span>' +
                    '<span class="comment-operate-item comment-operate-reply">回复</span>' +
                    '</div>' +
                    '</div>' +
                    '<div class="comment-report">举报</div>' +
                    '</div>'));
                $('.header-number i').text(+count + 1);
            }
            commentUp();
            commentReport();
            loginOrNot();
        })
    });

    setInterval(function () {
        let scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        if (scrollTop >= $('.nav-wrap').height()) {
            $('.nav-wrap').css('position', 'fixed')
        } else {
            $('.nav-wrap').css('position', 'relative')
        }
    }, 1000);

    function myComment() {
        $('.comment-my').click(function () {
            location.href = '/user/toMy?type=comment'
        })
    }
</script>
<script src="/static/js/detail.js"></script>
<script src="/static/js/relation.js"></script>
<script src="/static/js/jumpMsg.js"></script>
</body>
</html>