@import "reset.css";
@import "common.css";


/*统一样式*/
button {
    cursor: pointer;
}
a {
    color: #333;
}
a:hover {
    color: #2291f7;
}
a:active {
    color: #fff;
    background: #f93;
}
ul{
    word-break: break-all;
}
/*统一样式结束*/

.wrap {
    width: 600px;
    margin: 0 auto;
    margin-top: 30px;
}
.list .top{
    border-bottom: 1px solid #99999C;
    height: 50px;
    line-height: 50px;
}
.top div {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.tag {
    width: 120px;
}
.time {
    width: 200px;
    margin-left: 80px;
}
.operate {
    width: 140px;
}
.item-list {
    margin-top: 30px;
}
.item:first-child {
    border-top: none;
} 
.item {
    padding: 10px 0;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    border-top: 1px solid #99999C;
}
.iconfont {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    color: #222;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    background-image: none;
    transition: all .2s;
    font-size: 14px;
    text-decoration: none;
}
.iconjiantou {
    margin: 0 5px;
}
/*.item .btn{*/
/*    width: 60px;*/
/*    height: 28px;*/
/*    line-height: 28px;*/
/*}*/
.item .del {
    width: 60px;
    height: 30px;
    line-height: 30px;
    color: #222;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    background-image: none;
    transition: all .2s;
    font-size: 14px;
    text-decoration: none;
}
.more {
    line-height: 35px;
    background: #f0f0f0;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    color: #666;
    border-radius: 5px;
}
.move,
.confirm {
    float: right;
    padding: 0 15px;
    color: #222;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    background-image: none;
    transition: all .2s;
    font-size: 14px;
    min-width: 15px;
    margin: 0 2px 20px;
    display: inline-block;
    margin-right: 38px;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
}
.move:hover,
.confirm:hover,
.del:hover,
.iconfont:hover {
    background: #00a1d6;
    color: #fff;
    border: 1px solid #00a1d6;
}
